.counter-one {
  font-size: 20px;
  font-weight: 700;
}

.counter-two {
  font-size: 20px;
  font-weight: 700;
}

.circle-one {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: #e6c199;
}

.circle-one-second {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  opacity: 60%;
  background: #e6c199;
  z-index: -1;
}

.circle-one-third {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  opacity: 30%;
  background: #e6c199;
  z-index: -2;
}

.number-one {
  font-size: 120px;
  font-weight: 700;
  position: absolute;
  margin-top: 85px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  transform: rotate(180deg);
  color:#0f1b3d;
}

.circle-two {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: #e6c199;
}

.circle-two-second {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background: #e6c199;
  opacity: 60%;
  z-index: -1;
}

.circle-two-third {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  opacity: 30%;
  background: #e6c199;
  z-index: -2;
}

.number-two {
  font-size: 120px;
  font-weight: 700;
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%); 
  color:#3d3a0f;
}

.animate-circle {
  transform: scale(1);
  animation: pulse-black 0.3s forwards;
}

@keyframes pulse-black {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgb(183, 188, 240);
  }
  
  70% {
    transform: scale(0.8);
    box-shadow: 0 0 0 80px rgba(0, 0, 0, 0);
  }
  
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.animate-circle-two {
  transform: scale(1);
  animation: pulse-black-two 0.3s forwards;
}

@keyframes pulse-black-two {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgb(183, 188, 240);
  }
  
  70% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
  }
  
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.plus-one:focus,
.minus-one:focus,
.plus-two:focus,
.minus-two:focus {
  outline: none;
}

.plus {
  height: 45px;
  width: 45px;
  background-color: #e6c199;
  border-radius: 50%;
  display: inline-block;
  pointer-events: none;
}

.minus {
  height: 45px;
  width: 45px;
  background-color: #e6c199;
  border-radius: 50%;
  display: inline-block;
  pointer-events: none;
}

.plus-one,
.minus-one,
.plus-two,
.minus-two {
  width: 100%;
	height: 100%;
}

 .parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .div1 { grid-area: 1 / 1 / 7 / 6; }
  .div2 { grid-area: 7 / 1 / 13 / 6; }
  .div3 { grid-area: 3 / 2 / 5 / 5; }
  .div4 { grid-area: 1 / 1 / 3 / 2; }
  .div5 { grid-area: 1 / 1 / 7 / 2; }
  .div6 { grid-area: 5 / 1 / 7 / 2; }
  .div7 { grid-area: 1 / 2 / 3 / 3; }
  .div8 { grid-area: 1 / 3 / 3 / 4; }
  .div9 { grid-area: 1 / 4 / 3 / 5; }
  .div10 { grid-area: 1 / 5 / 3 / 6; }
  .div11 { grid-area: 1 / 5 / 7 / 6; }
  .div12 { grid-area: 5 / 5 / 7 / 6; }
  .div13 { grid-area: 5 / 4 / 7 / 5; }
  .div14 { grid-area: 5 / 3 / 7 / 4; }
  .div15 { grid-area: 5 / 2 / 7 / 3; }
  .div16 { grid-area: 9 / 2 / 11 / 5; }
  .div17 { grid-area: 7 / 1 / 9 / 2; }
  .div18 { grid-area: 7 / 2 / 9 / 3; }
  .div19 { grid-area: 7 / 3 / 9 / 4; }
  .div20 { grid-area: 7 / 4 / 9 / 5; }
  .div21 { grid-area: 7 / 5 / 9 / 6; }
  .div22 { grid-area: 7 / 5 / 13 / 6; }
  .div23 { grid-area: 11 / 5 / 13 / 6; }
  .div24 { grid-area: 11 / 4 / 13 / 5; }
  .div25 { grid-area: 11 / 3 / 13 / 4; }
  .div26 { grid-area: 11 / 2 / 13 / 3; }
  .div27 { grid-area: 11 / 1 / 13 / 2; }
  .div28 { grid-area: 7 / 1 / 13 / 2; }
  .div29 { grid-area: 1 / 1 / 7 / 6; }
  .div30 { grid-area: 7 / 1 / 13 / 6; }